* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b3b2bd;
  color: #212121;
  line-height: 1.5;
  padding-left: 100px;
  margin: 0;
  padding: 0;
}

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.search-form {
  height: 30px;
  padding: 50px 0;
  width: 100%;
  background-color: #515686;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}

.search-form input {
  min-height: 40px;
  width: 300px;
  border: 2px solid rgb(221, 170, 223);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  padding-left: 20px;
  border-right: none;
  background-color: rgb(248, 233, 248);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.search-form input:focus {
  outline: none;
  border-color: rgb(213, 242, 242);
}

.search-form button {
  min-height: 40px;
  border: 2px solid rgb(221, 170, 223);
  background-color: rgb(221, 170, 223);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-left: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  transition: background-color, border-color,
    transform var(--animation-duration) var(--timing-function);
}

.search-form button:hover {
  transform: scale(1.05);
  background-color: rgb(213, 242, 242);
  border-color: rgb(213, 242, 242);
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1600px;
  gap: 12px;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.gallery__photo-card {
  height: 100%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  background-color: azure;
  border-radius: 5%;
}

.gallery__image {
  padding-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  display: block;
  width: 360px;
  height: 30vh;
  object-fit: cover;
  border-radius: 5%;
}

.gallery__link {
  display: block;
  text-decoration: none;
  color: #212121;
  flex-basis: calc((100% - 80px) / 4);
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link:hover {
  cursor: zoom-in;
  transform: scale(1.03);
}

.info__list {
  display: flex;
  gap: 12px;
}

.info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-more__btn {
  display: block;
  width: 150px;
  height: 30px;
  text-align: center;
  border: 2px solid rgb(18, 218, 218);
  background-color: rgb(221, 170, 223);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  margin: 20px auto;
  transition: background-color, border-color,
    transform var(--animation-duration) var(--timing-function);
}

.show-more__btn:hover {
  transform: scale(1.1);
  background-color: rgb(213, 242, 242);
  border-color: rgb(213, 242, 242);
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
